{% extends "base.html" %}
{% block content %}
<!--Put some image here with text over or somethign like the tempalte-->



<!--Pink headline bar with "Welcome to JStudy!" in it-->
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Welcome to JStudy!</h2>
			</div>
		</div>
	</div>
	</section>


    <h1>Hi!</h1>

    <p>Eventually this will look a lot cooler ;)<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
{% endblock %}
