<!--encoding: utf-8-->
{% extends "base.html" %}
{% block content %}
<!--Pink headline bar with "Vocab!" in it-->
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Vocab!</h2>
			</div>
		</div>
	</div>
	</section>


	    <h1>HEYYY!</h1>
	    <div><p> LET;s DO some VOcab PRacticeeeee
	      <br><br><br>
	    </p></div>


<div class="chapters">
	<a href="vocab/ch1" class="btn btn-primary waves-effect waves-dark">Chapter 1</a>
	<a href="vocab/ch2" class="btn btn-primary waves-effect waves-dark">Chapter 2</a>
	<a href="vocab/ch3" class="btn btn-primary waves-effect waves-dark">Chapter 3</a>
	<a href="vocab/ch4" class="btn btn-primary waves-effect waves-dark">Chapter 4</a>
</div>





{% endblock %}
